# <p style="text-align: center; color:red;">Senior Data Scientist Test </p>
## <p style="text-align: center;color: blue;">ABC's Business </p>

## Introduction:
 Our client, ABC Company,  wants to find a better demand forecasting method. Currently,
it forecast manually with basic excel statistics and judgment for month
rolling.
In this Project, by analyzing the dataset ('physical_network.csv')we will try to work on the ABC Company's expectations, including:

● Technical solutions and practical working methodology to improve its forecasting and its usage.


● Solution to apply not only for existing products but also for new products.

### Minimum Output Request
○ Approaches and explanations for selecting it

○ Findings

○ Forecasting result

○ Limitation of your approaches

○ Improvement proposal

### Data
physical_network.csv

### Methodology:
By first invesigation, the dataset include information of 77 Customers, 579 SKU in 10 SKU Groups. It is not realistic to analyze the dataset as a whole, or treat all informatoion as the same, because the statistic is made in 3 years (2017-2019). The Strategy to analyze the information should be:
 - Analyze by year separately, as the information of 2019 would contribute more than 2018 and 2017
 - Categorize Customers by 3 levels base on their Order Value (top 25%, from 75%-25%, and the rest)
 - Categorize SKU and SKU Group by 3 levels base on their Order Value (top 25%, from 75%-25%, and the rest)
 - Besides, preparing for the delivery base on distance from DC to top Retail Store should be considered as well, but we face the limitation of location information in the dataset.

In [1]:
import requests
import pandas as pd
import numpy as np 
import random
import json
from geopy.geocoders import Nominatim
from IPython.display import Image 
from IPython.display import display, HTML
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
from random import randint
from sklearn.cluster import DBSCAN 
from sklearn.datasets import make_blobs 
from sklearn.preprocessing import StandardScaler 
import seaborn as sns
pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_rows', None, 'display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format
print('Libraries imported.')

Libraries imported.

In [2]:
df=pd.read_csv('physical_network.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216725 entries, 0 to 216724
Data columns (total 40 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Last Status         216725 non-null  int64
 1   Next Status         216725 non-null  int64
 2   Order Co            216725 non-null  int64
 3   Or Ty               216725 non-null  object
 4   Order Number        216725 non-null  int64
 5   Line Number         216725 non-null  float64
 6   Sold To             216725 non-null  int64
 7   Ship To             216725 non-null  int64
 8   Ln Ty               216725 non-null  object
 9   2nd Item Number     216725 non-null  int64
 10  Quantity            216725 non-null  float64
 11  UOM                 216725 non-null  object
 12  Extended Amount     214709 non-null  float64
 13  Request Date        216725 non-null  object
 14  Unit Price          215618 non-null  float64
 15  Price UOM           215618 non-null  object
 16  Order Date          216725 non-null  object
 17  Actual Ship         216725 non-null  object
 18  Invoice Date        216725 non-null  object
 19  G/L Date            216725 non-null  object
 20  Promised Delivery   216725 non-null  object
 21  Branch/Plant        215618 non-null  float64
 22  Quantity Ordered    215618 non-null  float64
 23  Quantity Shipped    215618 non-null  float64
 24  Volume (MT)         216725 non-null  float64
 25  Brands              216725 non-null  object
 26  Commodity Group     109563 non-null  object
 27  Category            216725 non-null  object
 28  check               216725 non-null  int64
 29  BG                  216725 non-null  float64
 30  CT                  216725 non-null  float64
 31  DR                  216725 non-null  float64
 32  EA                  216725 non-null  float64
 33  KG                  216725 non-null  float64
 34  M                   216725 non-null  int64
 35  RL                  216725 non-null  int64
 36  month               216725 non-null  object
 37  origin_simple       216725 non-null  object
 38  destination_simple  216725 non-null  object
 39  Type_combine        216725 non-null  object
dtypes: float64(13), int64(10), object(17)
memory usage: 66.1+ MB

,Last Status,Next Status,Order Co,Order Number,Line Number,Sold To,Ship To,2nd Item Number,Quantity,Extended Amount,Unit Price,Branch/Plant,Quantity Ordered,Quantity Shipped,Volume (MT),check,BG,CT,DR,EA,KG,M,RL
count,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00,214709.00,215618.00,215618.00,215618.00,215618.00,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00,216725.00
mean,645.41,999.00,1417.81,12003423.40,9.90,18584618.36,19364505.22,9159223.36,431.57,36923777.62,623012.20,1419361.06,424.66,424.56,0.62,0.04,0.00,0.01,0.00,0.00,0.00,0.00,0.00
std,82.62,0.00,407.65,20919621.80,8.87,29115097.50,29523759.14,3282593.11,3111.79,577062496.16,5237727.24,408246.66,3111.18,3111.05,2.64,0.19,0.00,0.00,0.01,0.03,0.00,0.00,0.00
min,620.00,999.00,1193.00,2.00,1.00,1193152.00,1193152.00,102132.00,-41588.00,-59444048070.00,0.00,1193154.00,-41588.00,-41588.00,-39.98,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,620.00,999.00,1193.00,593490.00,3.00,2006729.00,2006741.00,10361757.00,5.00,2520742.80,198545.62,1193470.00,5.00,5.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,620.00,999.00,1193.00,597078.00,7.00,2157100.00,2157100.00,10367741.00,24.00,9575240.16,630381.57,1193470.00,23.00,23.00,0.11,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00
75%,620.00,999.00,1193.00,601395.00,15.00,3532928.00,70000043.00,10374671.00,102.00,33564595.24,789533.35,1193470.00,100.00,100.00,0.47,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00
max,984.00,999.00,2157.00,50014874.00,101.10,70006148.00,70006146.00,10439915.00,382118.00,59444048070.00,611268320.00,2157691.00,382118.00,382118.00,152.43,1.00,0.03,0.03,0.21,1.00,0.00,0.00,0.00

#### Number of Customer, SKU Group and SKU:

In [3]:
print('Number of Customer: ',len(df['Sold To'].unique()),'\nNumber of SKU Group:',len(df['Brands'].unique()),'\nNumber of SKU:',len(df['2nd Item Number'].unique()),'\nNumber of Retail Store:',len(df['Ship To'].unique()))

Number of Customer:  77
Number of SKU Group: 10
Number of SKU: 579
Number of Retail Store: 147

#### For Customer analyze, we work with Customer Codes that >0

In [4]:
df_EA_neg=df.loc[df['Extended Amount']<0]
df=df.loc[df['Extended Amount']>=0]

#### Create more columns regarding Year and Month of the Order, and lead time between order and delivery

In [5]:
# Create some more columns to categorize Orders by Month and Year
df['Request_year']=pd.DatetimeIndex(df['Request Date']).year
df['Request_month']=pd.DatetimeIndex(df['Request Date']).month
df['Request_to_Shipment']=pd.to_datetime(df['Actual Ship'])-pd.to_datetime(df['Request Date'])
df['Order_to_Request']=pd.to_datetime(df['Request Date'])-pd.to_datetime(df['Order Date'])

###  Fill missing Value in Unit Price
We can see that the std of Unit Price is high, so missing value should be filled by median of each group (grouped by year, month and SKU)

In [6]:
df['Unit Price'].replace(0,np.nan, inplace=True)
df['Unit Price']=df[['Request_year','Request_month','2nd Item Number','Unit Price']].groupby(['Request_year','Request_month','2nd Item Number']).transform(lambda x: x.fillna(x.max()))

In [7]:
df_2017=df.loc[df['Request_year']==2017]
df_2018=df.loc[df['Request_year']==2018]
df_2019=df.loc[df['Request_year']==2019]

#### We start to Categorize Customer base on Value of Order:

In [8]:
Customer_2019=df_2019[['Sold To','Extended Amount']].groupby(['Sold To'], as_index=False).sum().sort_values('Extended Amount',ascending=False)
Customer_2018=df_2018[['Sold To','Extended Amount']].groupby(['Sold To'], as_index=False).sum().sort_values('Extended Amount',ascending=False)
Customer_2017=df_2017[['Sold To','Extended Amount']].groupby(['Sold To'], as_index=False).sum().sort_values('Extended Amount',ascending=False)
SKU_2019=df_2019[['2nd Item Number','Extended Amount']].groupby(['2nd Item Number'], as_index=False).sum().sort_values('Extended Amount',ascending=False)
SKU_2018=df_2018[['2nd Item Number','Extended Amount']].groupby(['2nd Item Number'], as_index=False).sum().sort_values('Extended Amount',ascending=False)
SKU_2017=df_2017[['2nd Item Number','Extended Amount']].groupby(['2nd Item Number'], as_index=False).sum().sort_values('Extended Amount',ascending=False)

### Customer Categorize:
Using  Principal, we define Customer that contribute 80% of Extended Amount to Class_A, the remaining in group B

In [10]:
P_A=df_2019['Extended Amount'].sum()*0.8
P_B=df_2019['Extended Amount'].sum()*0.90
total=0
Custome_A=[]
Custome_B=[]
Custome_C=[]
Customer_2019['Customer_2019_Cat']='NaN'
for index, row in Customer_2019.iterrows():
    total+=row['Extended Amount']
    if total<P_A:
        Custome_A.append(row['Sold To'])
    elif total>P_A and total<P_B:
        Custome_B.append(row['Sold To'])
    else:
        Custome_C.append(row['Sold To'])
            
for index, row in Customer_2019.iterrows():
    if Customer_2019.iloc[index][0] in Custome_A:
        Customer_2019['Customer_2019_Cat'].iloc[index]="A"
    elif Customer_2019.iloc[index][0] in Custome_B:
        Customer_2019['Customer_2019_Cat'].iloc[index]="B"
    else:
        Customer_2019['Customer_2019_Cat'].iloc[index]="C"
Customer_2019

     Sold To  Extended Amount Customer_2019_Cat
36  70000275  874111968021.56                 A
15   2006780  341800057255.49                 A
18   2157101  224955263765.82                 A
17   2157100  215178015432.44                 A
34  70000240   93665716316.05                 A
52  70005537   82908406125.33                 A
7    2006729   82597309558.25                 A
23   3230324   69161270765.00                 B
35  70000246   53358284719.30                 B
4    2006722   41637677187.79                 B
44  70002556   27642207543.80                 B
12   2006767   26565002577.53                 B
13   2006771   24069158236.29                 B
49  70004546   22207457959.61                 C
32   3624618   21962303843.70                 C
1    1193470   21488288793.37                 C
25   3532928   20630989249.00                 C
2    2006708   18983957250.13                 C
8    2006750   17397369259.65                 C
14   2006779   16564840072.68                 C
20   2693684   15962992204.05                 C
29   3597632   11546686611.00                 C
28   3597457    8081257635.84                 C
45  70002570    7839622937.06                 C
42  70002538    7238327242.15                 C
55  70005688    5574818992.32                 C
3    2006716    5362488619.50                 C
5    2006725    5297890714.23                 C
40  70002465    4495335726.00                 C
10   2006762    4461441290.57                 C
9    2006752    4259420909.28                 C
43  70002554    3788939357.15                 C
16   2006797    3286611126.00                 C
38  70002046    2749457333.00                 C
47  70004302    2481254096.65                 C
54  70005685    2370692450.39                 C
53  70005569    2202024277.66                 C
37  70000400    2172260404.98                 C
46  70002610    1916830940.34                 C
11   2006763    1912374345.27                 C
26   3553979    1834187422.68                 C
57  70005834    1684603681.84                 C
22   3086176    1566202987.84                 C
27   3596253    1491021495.00                 C
50  70004897    1193013936.65                 C
19   2503106    1176034280.69                 C
48  70004327    1157405112.38                 C
51  70005446    1007175558.00                 C
6    2006728     920248682.69                 C
24   3384661     804657190.93                 C
33  70000232     590961208.30                 C
21   3083323     543355426.23                 C
58  70006148     541511680.67                 C
56  70005698     477857438.38                 C
0    1193152     165957100.00                 C
39  70002054     138105878.65                 C
30   3624247      97441254.79                 C
41  70002520      45274527.58                 C
31   3624327       2258137.32                 C

In [12]:
P_A=df_2018['Extended Amount'].sum()*0.8
P_B=df_2018['Extended Amount'].sum()*0.90
total=0
Custome_A=[]
Custome_B=[]
Custome_C=[]
Customer_2018['Customer_2018_Cat']='NaN'
for index, row in Customer_2018.iterrows():
    total+=row['Extended Amount']
    if total<P_A:
        Custome_A.append(row['Sold To'])
    elif total>P_A and total<P_B:
        Custome_B.append(row['Sold To'])
    else:
        Custome_C.append(row['Sold To'])
            
for index, row in Customer_2018.iterrows():
    if Customer_2018.iloc[index][0] in Custome_A:
        Customer_2018['Customer_2018_Cat'].iloc[index]="A"
    elif Customer_2018.iloc[index][0] in Custome_B:
        Customer_2018['Customer_2018_Cat'].iloc[index]="B"
    else:
        Customer_2018['Customer_2018_Cat'].iloc[index]="C"
Customer_2018

     Sold To  Extended Amount Customer_2018_Cat
17   2006780  695910180114.11                 A
40  70000275  435595344025.32                 A
19   2157100  427625172731.54                 A
20   2157101  359526084023.32                 A
38  70000240  176198079685.48                 A
7    2006729  153559396776.79                 A
8    2006735  125857620829.04                 A
4    2006722   85347966854.41                 A
25   3230324   82311424920.00                 A
39  70000246   58053449276.25                 A
14   2006767   50961428122.60                 B
15   2006771   50473809340.37                 B
1    1193470   48060944388.75                 B
2    2006708   42855375519.40                 B
16   2006779   40021684687.36                 B
57  70005537   38851156478.01                 B
22   2693684   34326264948.22                 B
54  70004546   32920311654.36                 C
10   2006750   31570821372.51                 C
35   3624618   29835224774.85                 C
32   3597632   27975057458.00                 C
29   3532928   24005772952.00                 C
36  70000043   22910037335.64                 C
47  70002538   22370586554.24                 C
50  70002570   19028163253.95                 C
48  70002554   14122482233.91                 C
3    2006716   13382340047.73                 C
5    2006725   13102335818.31                 C
42  70002046    9817800961.69                 C
44  70002396    8058769142.52                 C
11   2006752    7760974289.09                 C
45  70002465    7479928415.00                 C
12   2006762    7420755956.57                 C
18   2006797    6989351065.00                 C
41  70000400    4933457197.14                 C
53  70004327    4816617060.17                 C
51  70002610    3865478131.14                 C
31   3597457    3680481795.75                 C
6    2006728    3534877540.51                 C
49  70002556    3490533109.46                 C
52  70004302    3374507568.18                 C
24   3086176    3140822295.14                 C
56  70005446    2778462526.35                 C
13   2006763    2516913693.22                 C
46  70002520    2494180080.59                 C
30   3553979    2302835853.12                 C
26   3384661    1798267179.57                 C
21   2503106    1538688154.20                 C
23   3083323    1396421609.12                 C
55  70004897    1344805748.68                 C
58  70005569    1058388104.74                 C
37  70000232    1043065281.58                 C
33   3624247     934479827.99                 C
28   3405932     654532494.00                 C
0    1193401     537833567.46                 C
43  70002054     402477989.66                 C
9    2006746     244466544.56                 C
27   3384700      56695847.52                 C
34   3624327      30904819.27                 C

### SKU Categorize:

In [13]:

A=SKU_2019.describe(include='all').loc['75%'][1]
B=SKU_2019.describe(include='all').loc['50%'][1]
conditions=[SKU_2019['Extended Amount']>=A,(SKU_2019['Extended Amount']>=B)&(SKU_2019['Extended Amount']<A),SKU_2019['Extended Amount']<B]
values=['A','B','C']
SKU_2019['SKU_2019_Cat'] = np.select(conditions, values)

In [14]:
SKU_2019.head()

     2nd Item Number  Extended Amount SKU_2019_Cat
190         10398516  297323408937.10            A
191         10398518  251032830409.55            A
189         10397378  116122800260.73            A
9             110455   88637943255.21            A
198         10399354   83154120969.43            A

In [15]:
A=SKU_2018.describe(include='all').loc['75%'][1]
B=SKU_2018.describe(include='all').loc['50%'][1]
conditions=[SKU_2018['Extended Amount']>=A,(SKU_2018['Extended Amount']>=B)&(SKU_2018['Extended Amount']<A),SKU_2018['Extended Amount']<B]
values=['A','B','C']
SKU_2018['SKU_2018_Cat'] = np.select(conditions, values)

In [16]:
# SKU_2019.boxplot(column='Extended Amount')
A=SKU_2017.describe(include='all').loc['75%'][1]
B=SKU_2017.describe(include='all').loc['50%'][1]
conditions=[SKU_2017['Extended Amount']>=A,(SKU_2017['Extended Amount']>=B)&(SKU_2017['Extended Amount']<A),SKU_2017['Extended Amount']<B]
values=['A','B','C']
SKU_2017['SKU_2017_Cat'] = np.select(conditions, values)

In [17]:
display(SKU_2017.groupby(['SKU_2017_Cat'],as_index=False).count())
display(SKU_2018.groupby(['SKU_2018_Cat'],as_index=False).count())
display(SKU_2019.groupby(['SKU_2019_Cat'],as_index=False).count())

  SKU_2017_Cat  2nd Item Number  Extended Amount
0            A               99               99
1            B               99               99
2            C              198              198

  SKU_2018_Cat  2nd Item Number  Extended Amount
0            A               79               79
1            B               79               79
2            C              157              157

  SKU_2019_Cat  2nd Item Number  Extended Amount
0            A               70               70
1            B               70               70
2            C              139              139

In [21]:
len(SKU_2017['2nd Item Number'].unique())

396